<!DOCTYPE html>
<html>
<head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
</head>

<body>
    <h2>Active</h2>

    <table id="active">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Latest Time</th>
        </tr>

    {% if actives %}
    {% for acc in actives %}
        <tr>
            <th> {{ acc[0] }} </th>
            <th> {{ acc[1] }} </th>
            <th> {{ acc[2] }} </th>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    {% endif %}
    </table>

    <h2>Inactive</h2>

    <table id="inactive">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Latest Time</th>
        </tr>

    {% if inactives %}
    {% for acc in inactives %}
        <tr>
            <th> {{ acc[0] }} </th>
            <th> {{ acc[1] }} </th>
            <th> {{ acc[2] }} </th>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    {% endif %}
    </table>

</body>

<script>
	var active = document.getElementById("active");
	for (var i = 1, row; row = active.rows[i]; i++) {
		if (row.cells[2].innerHTML > 0){
			row.cells[2].innerHTML = new Date(row.cells[2].innerHTML * 1000).toLocaleString();
		}
	}

	var inactive = document.getElementById("inactive");
	for (var i = 1, row; row = inactive.rows[i]; i++) {
		if (row.cells[2].innerHTML > 0){
			row.cells[2].innerHTML = new Date(row.cells[2].innerHTML * 1000).toLocaleString();
		}
	}
</script>
</html>